Repository PiLep/space-xplorer: changes, and which Codecov flags are due for each by the changed paths.
All: API Controllers, Livewire Components, Services, Models, Events & Listeners

refactor: Improve layout and error handling in profile view
  resources/views/livewire/profile.blade.php
  routes/web.php
Due: none

refactor: Remove deprecated login component and streamline profile handling
  .gitignore
  app/Livewire/Concerns/MakesApiRequests.php
  app/Livewire/Login.php
  app/Livewire/Profile.php
  app/Services/AuthService.php
  resources/views/components/livewire-layout.blade.php
  resources/views/home.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/login.blade.php
  resources/views/livewire/profile.blade.php
  routes/web.php
Due: Livewire Components, Services

refactor: Simplify authentication flow by removing session token management
  app/Http/Controllers/Api/AuthController.php
  app/Livewire/Concerns/MakesApiRequests.php
  app/Services/AuthService.php
  docs/memory_bank/ARCHITECTURE.md
  routes/web.php
  tests/Feature/E2E/RegistrationFlowTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/Livewire/DashboardTest.php
  tests/Feature/Livewire/LoginTest.php
  tests/Feature/Livewire/ProfileTest.php
  tests/Feature/Livewire/RegisterTest.php
  tests/Unit/ExampleTest.php
Due: API Controllers, Livewire Components, Services

chore: Remove unnecessary blank line in ProfileTest.php for improved readability
  tests/Feature/Livewire/ProfileTest.php
Due: none

feat: Implement ULID for user and planet IDs, enhancing uniqueness and security
  app/Http/Controllers/Api/UserController.php
  app/Models/Planet.php
  app/Models/User.php
  database/migrations/2025_11_09_164220_convert_users_id_to_ulid.php
  database/migrations/2025_11_09_164222_convert_planets_id_to_ulid.php
  database/migrations/2025_11_09_164223_convert_planets_id_to_ulid.php
  database/migrations/2025_11_09_164224_convert_home_planet_id_to_ulid.php
  database/migrations/2025_11_09_164225_convert_users_id_to_ulid.php
  database/migrations/2025_11_09_164226_convert_home_planet_id_to_ulid.php
  docs/agents/ARCHITECT.md
  docs/memory_bank/ARCHITECTURE.md
Due: API Controllers, Models

chore: Remove outdated migrations for user and planet ID conversions
  database/migrations/2025_11_09_164220_convert_users_id_to_ulid.php
  database/migrations/2025_11_09_164222_convert_planets_id_to_ulid.php
  database/migrations/2025_11_09_164224_convert_home_planet_id_to_ulid.php
  database/migrations/2025_11_09_164225_convert_users_id_to_ulid.php
  database/migrations/2025_11_09_164226_convert_home_planet_id_to_ulid.php
  database/seeders/DatabaseSeeder.php
Due: none

refactor: Transition from PHPUnit to Pest for testing framework
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  compose.yaml
  composer.json
  composer.lock
  database/seeders/DatabaseSeeder.php
  junit.xml
  tests/Feature/Api/AuthControllerTest.php
  tests/Feature/Api/PlanetControllerTest.php
  tests/Feature/Api/UserControllerTest.php
  tests/Feature/E2E/RegistrationFlowTest.php
  tests/Feature/Livewire/DashboardTest.php
  tests/Feature/Livewire/LoginTest.php
  tests/Feature/Livewire/ProfileTest.php
  tests/Feature/Livewire/RegisterTest.php
  tests/Pest.php
  tests/Unit/Listeners/GenerateHomePlanetTest.php
  tests/Unit/Services/PlanetGeneratorServiceTest.php
Due: none

feat: Integrate Playwright for E2E testing and enhance CI workflow
  .github/workflows/ci.yml
  .gitignore
  composer.json
  composer.lock
  package-lock.json
  package.json
  playwright.config.cjs
  tests/Browser/ExampleTest.php
  tests/Browser/PlaywrightHelper.php
  tests/Browser/README.md
  tests/Browser/RegistrationE2ETest.php
  tests/Browser/RegistrationFlow.spec.js
  tests/Pest.php
Due: none

refactor: Clean up whitespace and improve test script generation
  tests/Browser/ExampleTest.php
  tests/Browser/PlaywrightHelper.php
  tests/Browser/RegistrationE2ETest.php
Due: none

refactor: Update Pest test configuration for unit tests
  tests/Pest.php
Due: none

feat: Enhance user profile and layout with home planet integration
  app/Livewire/Profile.php
  resources/views/components/livewire-layout.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/profile.blade.php
Due: Livewire Components

feat: Integrate MinIO for local image storage and enhance image generation service
  README.md
  app/Console/Commands/SetupMinIO.php
  app/Console/Commands/TestImageGeneration.php
  app/Services/ImageGenerationService.php
  compose.yaml
  composer.json
  composer.lock
  config/image-generation.php
  docs/examples/image-generation-usage.md
  docs/setup/minio-setup.md
  tests/Unit/Services/ImageGenerationServiceTest.php
Due: Services

feat: Add avatar generation and management features
  app/Console/Commands/FixAvatarUrls.php
  app/Console/Commands/GenerateAvatarsForExistingUsers.php
  app/Console/Commands/SetupMinIO.php
  app/Console/Commands/TestImageGeneration.php
  app/Events/UserRegistered.php
  app/Listeners/GenerateAvatar.php
  app/Livewire/Profile.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  app/Services/ImageGenerationService.php
  config/image-generation.php
  database/migrations/2025_11_09_185508_add_avatar_url_to_users_table.php
  docs/setup/minio-setup.md
  docs/setup/queues-setup.md
  phpunit.xml
  resources/views/livewire/profile.blade.php
  tests/Feature/Commands/GenerateAvatarsForExistingUsersTest.php
  tests/Feature/Livewire/RegisterTest.php
  tests/Feature/Pest.php
  tests/TestCase.php
  tests/Unit/Listeners/GenerateAvatarTest.php
  tests/Unit/Services/ImageGenerationServiceTest.php
Due: Livewire Components, Services, Models, Events & Listeners

feat: Enhance avatar generation and user registration process
  app/Console/Commands/GenerateAvatarsForExistingUsers.php
  app/Listeners/GenerateAvatar.php
  app/Listeners/GenerateHomePlanet.php
  app/Livewire/Register.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  resources/views/components/alert.blade.php
  resources/views/components/button.blade.php
  resources/views/components/form-input.blade.php
  resources/views/components/livewire-layout.blade.php
  resources/views/components/navigation.blade.php
  resources/views/components/planet-card.blade.php
  resources/views/components/terminal-prompt-text.blade.php
  resources/views/components/terminal-prompt.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/login-terminal.blade.php
  resources/views/livewire/profile.blade.php
  tests/Feature/Commands/GenerateAvatarsForExistingUsersTest.php
  tests/Unit/Listeners/GenerateAvatarTest.php
Due: Livewire Components, Models, Events & Listeners

refactor: Clean up avatar generation prompt for improved readability
  app/Listeners/GenerateAvatar.php
Due: Events & Listeners

feat: Implement planet image generation and enhance avatar handling
  app/Console/Commands/GenerateAvatarsForExistingUsers.php
  app/Events/PlanetCreated.php
  app/Http/Controllers/Api/PlanetController.php
  app/Http/Controllers/Api/UserController.php
  app/Listeners/GenerateAvatar.php
  app/Listeners/GeneratePlanetImage.php
  app/Models/Planet.php
  app/Providers/EventServiceProvider.php
  app/Services/ImageGenerationService.php
  app/Services/PlanetGeneratorService.php
  database/migrations/2025_11_09_203943_add_image_url_to_planets_table.php
  resources/views/components/planet-card.blade.php
  tests/Feature/Commands/GenerateAvatarsForExistingUsersTest.php
  tests/Feature/Pest.php
  tests/TestCase.php
  tests/Unit/Listeners/GenerateAvatarTest.php
  tests/Unit/Listeners/GenerateHomePlanetTest.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
  tests/Unit/Services/PlanetGeneratorServiceTest.php
Due: API Controllers, Services, Models, Events & Listeners

refactor: Improve formatting in avatar generation prompt and test cases
  app/Listeners/GenerateAvatar.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
Due: Events & Listeners

feat: Add TestServiceProvider for mocking image generation in tests
  app/Listeners/GenerateAvatar.php
  app/Providers/TestServiceProvider.php
  bootstrap/providers.php
  config/queue.php
  tests/Feature/Pest.php
  tests/TestCase.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
Due: Events & Listeners

feat: Implement video generation for planets and enhance model handling
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
  app/Models/Planet.php
  app/Providers/EventServiceProvider.php
  app/Services/VideoGenerationService.php
  config/queue.php
  config/video-generation.php
  database/migrations/2025_11_09_205701_add_video_url_to_planets_table.php
  resources/views/components/planet-card.blade.php
Due: Services, Models, Events & Listeners

chore: Update CI and test workflows for improved testing environment
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  tests/Feature/Pest.php
Due: none

fix: Update Pest.php to improve event handling in tests
  tests/Feature/Pest.php
Due: none

refactor: Simplify event handling in Pest.php for feature tests
  tests/Feature/Pest.php
Due: none

feat: Introduce reusable container component for consistent layout
  docs/design-system/DESIGN-SYSTEM-SPACING.md
  docs/design-system/components/COMPONENT-button-group.md
  docs/design-system/components/COMPONENT-modal.md
  docs/design-system/components/COMPONENT-navigation.md
  docs/design-system/components/COMPONENT-terminal-boot.md
  docs/design-system/components/COMPONENT-terminal-prompt.md
  resources/views/components/button-group.blade.php
  resources/views/components/container.blade.php
  resources/views/components/terminal-boot.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/dashboard.blade.php
  resources/views/livewire/login-terminal.blade.php
  resources/views/livewire/profile.blade.php
  resources/views/livewire/register.blade.php
Due: none

feat: Add generation status tracking for users and planets
  app/Listeners/GenerateAvatar.php
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
  app/Livewire/Profile.php
  app/Models/Planet.php
  app/Models/User.php
  database/factories/PlanetFactory.php
  database/migrations/2025_11_10_133651_add_generation_status_to_planets_and_users_tables.php
  docs/design-system/DESIGN-SYSTEM-COMPONENTS.md
  docs/design-system/DESIGN-SYSTEM.md
  docs/design-system/components/COMPONENT-scan-placeholder.md
  resources/views/components/planet-card.blade.php
  resources/views/components/scan-placeholder.blade.php
  resources/views/design-system/components-index.blade.php
  resources/views/design-system/components-specialized.blade.php
  resources/views/livewire/profile.blade.php
Due: Livewire Components, Models, Events & Listeners

refactor: Update CI configuration and improve prompt formatting
  .github/workflows/ci.yml
  app/Listeners/GenerateAvatar.php
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
Due: Events & Listeners

feat: Enhance test environment and service mocking for video generation
  .github/workflows/ci.yml
  app/Providers/TestServiceProvider.php
  phpunit.xml
  tests/Feature/Pest.php
Due: none

feat: Add comprehensive testing documentation for events and queue listeners
  README.md
  docs/setup/queues-setup.md
  docs/setup/testing-events.md
Due: none

chore: Add empty lines to component documentation and views for improved readability
  docs/design-system/components/COMPONENT-button-group.md
  docs/design-system/components/COMPONENT-modal.md
  docs/design-system/components/COMPONENT-navigation.md
  docs/design-system/components/COMPONENT-terminal-boot.md
  docs/design-system/components/COMPONENT-terminal-prompt.md
  resources/views/components/button-group.blade.php
  resources/views/components/terminal-boot.blade.php
Due: none

feat: Enhance error handling and logging for image and video generation
  app/Exceptions/ApiRequestException.php
  app/Exceptions/ImageGenerationException.php
  app/Exceptions/JobTimeoutException.php
  app/Exceptions/ProviderConfigurationException.php
  app/Exceptions/StorageException.php
  app/Exceptions/UnsupportedProviderException.php
  app/Exceptions/VideoGenerationException.php
  app/Listeners/GenerateAvatar.php
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
  app/Models/Planet.php
  app/Models/User.php
  app/Services/ImageGenerationService.php
  app/Services/VideoGenerationService.php
  bootstrap/app.php
  config/video-generation.php
  tests/Feature/Commands/GenerateAvatarsForExistingUsersTest.php
  tests/Unit/Listeners/GenerateAvatarTest.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
  tests/Unit/Services/ImageGenerationServiceTest.php
Due: Services, Models, Events & Listeners

refactor: Improve formatting of prompt strings in GenerateAvatar listener
  app/Listeners/GenerateAvatar.php
Due: Events & Listeners

refactor: Streamline prompt string concatenation in GenerateAvatar listener
  app/Listeners/GenerateAvatar.php
Due: Events & Listeners

refactor: Remove unused console commands and update README for MinIO setup
  README.md
  app/Console/Commands/FixAvatarUrls.php
  app/Console/Commands/GenerateAvatarsForExistingUsers.php
  app/Console/Commands/SetupMinIO.php
  app/Console/Commands/TestImageGeneration.php
  docs/setup/minio-setup.md
  tests/Feature/Commands/GenerateAvatarsForExistingUsersTest.php
Due: none

feat: Add event classes for user and planet actions
  app/Events/AvatarGenerated.php
  app/Events/DiscoveryMade.php
  app/Events/PlanetExplored.php
  app/Events/PlanetImageGenerated.php
  app/Events/PlanetVideoGenerated.php
  app/Events/UserLoggedIn.php
  app/Events/UserProfileUpdated.php
  app/Http/Controllers/Api/UserController.php
  app/Listeners/GenerateAvatar.php
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
  app/Providers/EventServiceProvider.php
  app/Services/AuthService.php
  docs/memory_bank/ARCHITECTURE.md
Due: API Controllers, Services, Events & Listeners

feat: Implement terminal boot process and enhance login interface
  app/Livewire/LoginTerminal.php
  resources/views/components/planet-card.blade.php
  resources/views/components/scan-placeholder.blade.php
  resources/views/design-system/components-specialized.blade.php
  resources/views/livewire/login-terminal.blade.php
Due: Livewire Components

feat: Implement admin panel with authentication and user management
  .env.example
  README.md
  app/Console/Commands/MakeSuperAdminCommand.php
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Middleware/EnsureAdminIsAuthenticated.php
  app/Http/Requests/Admin/LoginRequest.php
  app/Models/User.php
  app/Services/AdminAuthService.php
  bootstrap/app.php
  config/auth.php
  database/migrations/2025_11_10_213537_add_is_super_admin_to_users_table.php
  resources/css/app.css
  resources/views/admin/dashboard.blade.php
  resources/views/admin/layout.blade.php
  resources/views/admin/login.blade.php
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/show.blade.php
  resources/views/components/table.blade.php
  routes/admin.php
Due: Services, Models

refactor: Update admin email whitelist handling and introduce configuration file
  app/Http/Middleware/EnsureAdminIsAuthenticated.php
  app/Services/AdminAuthService.php
  config/admin.php
  database/factories/ResourceFactory.php
  tests/Feature/Admin/AuthControllerTest.php
  tests/Feature/Admin/DashboardControllerTest.php
  tests/Feature/Admin/EnsureAdminIsAuthenticatedMiddlewareTest.php
  tests/Feature/Admin/ResourceControllerTest.php
  tests/Feature/Admin/UserControllerTest.php
  tests/Unit/Services/AdminAuthServiceTest.php
Due: Services

feat: Implement automatic daily generation of planet image resources
  README.md
  app/Console/Commands/GenerateDailyPlanetResources.php
  routes/console.php
Due: none

feat: Add daily avatar resource generation and update README
  README.md
  app/Console/Commands/GenerateDailyAvatarResources.php
  routes/console.php
Due: none

feat: Add quick review functionality for pending resources
  app/Http/Controllers/Admin/ResourceController.php
  app/Jobs/GenerateResourceJob.php
  app/Livewire/Admin/ResourceReview.php
  app/Models/Resource.php
  resources/views/admin/resources/index.blade.php
  resources/views/admin/resources/review.blade.php
  resources/views/livewire/admin/resource-review.blade.php
  routes/admin.php
Due: Livewire Components, Models

Path conditions:
  API Controllers: any of: app/Http/Controllers/Api/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Livewire Components: any of: app/Livewire/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Services: any of: app/Services/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Models: any of: app/Models/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Events & Listeners: any of: app/Events/**, app/Listeners/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
