Repository PiLep/space-xplorer: changes, and which Codecov flags are due for each by the changed paths.
All: API Controllers, Livewire Components, Services, Models, Events & Listeners

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 0%
        informational: false
    changes: false

ignore:
  - "tests/"
  - "database/"
  - "vendor/"
  - "node_modules/"
  - "public/"
  - "storage/"
  - "bootstrap/cache/"
  - "*.md"
  - ".github/"

comment:
  layout: "reach,diff,flags,components,tree,reach"
  behavior: default
  require_changes: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api_controllers
      name: API Controllers
      paths:
        - "app/Http/Controllers/Api/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: livewire_components
      name: Livewire Components
      paths:
        - "app/Livewire/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: services
      name: Services
      paths:
        - "app/Services/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: models
      name: Models
      paths:
        - "app/Models/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
    - component_id: events_listeners
      name: Events & Listeners
      paths:
        - "app/Events/**"
        - "app/Listeners/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%

refactor: update Livewire components to utilize PHP 8 attributes for validation and computed properties
  app/Livewire/Admin/ResourceForm.php
  app/Livewire/Dashboard.php
  app/Livewire/ForgotPassword.php
  app/Livewire/LoginTerminal.php
  app/Livewire/Profile.php
  app/Livewire/Register.php
  app/Livewire/ResetPassword.php
  app/Livewire/VerifyEmail.php
  docs/agents/ARCHITECT.md
  docs/memory_bank/ARCHITECTURE.md
  docs/memory_bank/STACK.md
  docs/rules/TECHNICAL_RULES.md
  resources/views/components/terminal-boot.blade.php
  resources/views/livewire/admin/resource-form.blade.php
  resources/views/livewire/admin/resource-review.blade.php
  resources/views/livewire/profile.blade.php
Due: Livewire Components

feat: add planet and star system management features
  app/Console/Commands/MigratePlanetsToCoordinates.php
  app/Console/Commands/TranslatePlanets.php
  app/Console/Commands/TranslateResourceTags.php
  app/Console/Commands/TranslateStarTypes.php
  app/Listeners/GenerateHomePlanet.php
  app/Listeners/GeneratePlanetImage.php
  app/Listeners/GeneratePlanetVideo.php
  app/Models/Planet.php
  app/Models/PlanetProperty.php
  app/Models/StarSystem.php
  app/Services/ExplorationService.php
  app/Services/PlanetGeneratorService.php
  app/Services/StarSystemGeneratorService.php
  config/star-systems.php
  database/factories/PlanetFactory.php
  database/factories/StarSystemFactory.php
  database/migrations/2025_11_12_211509_create_star_systems_table.php
  database/migrations/2025_11_12_211511_add_coordinates_to_planets_table.php
  database/migrations/2025_11_12_212809_create_planet_details_table.php
  database/migrations/2025_11_12_213757_remove_old_columns_from_planets_table.php.skip
  tests/Feature/Api/PlanetControllerTest.php
  tests/Unit/Listeners/GenerateHomePlanetTest.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
  tests/Unit/Services/PlanetGeneratorServiceTest.php
Due: Services, Models, Events & Listeners

refactor: enhance planet translation command with validation and error handling
  app/Console/Commands/TranslatePlanets.php
Due: none

refactor: remove deprecated planet columns and update related services
  app/Models/Planet.php
  app/Services/PlanetGeneratorService.php
  database/factories/PlanetFactory.php
  database/migrations/2025_11_12_213757_remove_old_columns_from_planets_table.php
  tests/Feature/Api/PlanetControllerTest.php
  tests/Unit/Listeners/GenerateHomePlanetTest.php
  tests/Unit/Listeners/GeneratePlanetImageTest.php
Due: Services, Models

feat: expand data model with star systems and planet properties
  docs/memory_bank/ARCHITECTURE.md
Due: none

refactor: enhance planet and star system display in dashboard
  app/Livewire/Dashboard.php
  resources/views/components/planet-card.blade.php
Due: Livewire Components

feat: add screen size error component for terminal interface
  resources/views/components/screen-size-error.blade.php
  resources/views/layouts/app.blade.php
Due: none

feat: add user creation date to profile display
  app/Livewire/Profile.php
  resources/views/livewire/profile.blade.php
Due: Livewire Components

docs: Add ISSUE-006 inbox system (GitHub #12)
  docs/issues/ISSUE-006-implement-inbox-system.md
Due: none

docs: Review architecturale TASK-006 (système d'inbox)
  docs/issues/ISSUE-006-implement-inbox-system.md
  docs/reviews/ARCHITECT-REVIEW-006-implement-inbox-system.md
  docs/tasks/TASK-006-implement-inbox-system.md
Due: none

docs: Review de code TASK-006 (système d'inbox)
  docs/issues/ISSUE-006-implement-inbox-system.md
  docs/reviews/CODE-REVIEW-006-implement-inbox-system.md
  docs/tasks/TASK-006-implement-inbox-system.md
Due: none

docs: Mise à jour du suivi après review de code TASK-006
  docs/issues/ISSUE-006-implement-inbox-system.md
  docs/tasks/TASK-006-implement-inbox-system.md
Due: none

docs: Mise à jour review CODE-REVIEW-006 - Vérifications complétées
  docs/reviews/CODE-REVIEW-006-implement-inbox-system.md
Due: none

docs: Mise à jour statut review CODE-REVIEW-006 - Approuvé
  docs/reviews/CODE-REVIEW-006-implement-inbox-system.md
Due: none

docs: Mise à jour statut TASK-006 et ISSUE-006 - Approuvé
  docs/issues/ISSUE-006-implement-inbox-system.md
  docs/tasks/TASK-006-implement-inbox-system.md
Due: none

feat: implement messaging system for user interactions
  app/Console/Commands/GenerateTestMessages.php
  app/Console/Commands/SendWelcomeMessagesToExistingUsers.php
  app/Http/Controllers/Api/MessageController.php
  app/Http/Requests/DeleteMessageRequest.php
  app/Http/Requests/MarkMessageReadRequest.php
  app/Http/Requests/MarkMessageUnreadRequest.php
  app/Listeners/SendHomePlanetMessage.php
  app/Listeners/SendPlanetDiscoveryMessage.php
  app/Listeners/SendSpecialDiscoveryMessage.php
  app/Listeners/SendWelcomeMessage.php
  app/Livewire/Inbox.php
  app/Mail/NewMessageNotification.php
  app/Models/Message.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  app/Services/MessageService.php
  database/factories/MessageFactory.php
  database/migrations/2025_11_12_225042_create_messages_table.php
  database/migrations/2025_11_12_234207_add_deleted_at_to_messages_table.php
  resources/css/app.css
  resources/views/components/button-validation.blade.php
  resources/views/components/button.blade.php
  resources/views/emails/new-message.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/inbox.blade.php
  routes/api.php
  routes/web.php
  tests/Feature/Api/MessageApiTest.php
  tests/Feature/Livewire/InboxTest.php
  tests/Unit/Listeners/SendHomePlanetMessageTest.php
  tests/Unit/Listeners/SendPlanetDiscoveryMessageTest.php
  tests/Unit/Listeners/SendSpecialDiscoveryMessageTest.php
  tests/Unit/Listeners/SendWelcomeMessageTest.php
  tests/Unit/Models/MessageTest.php
  tests/Unit/Models/UserTest.php
  tests/Unit/Services/MessageServiceTest.php
Due: API Controllers, Livewire Components, Services, Models, Events & Listeners

docs: update ISSUE-006 and TASK-006 with PR #13 creation
  docs/issues/ISSUE-006-implement-inbox-system.md
  docs/tasks/TASK-006-implement-inbox-system.md
Due: none

feat: update Playwright configuration for viewport settings
  playwright.config.cjs
Due: none

refactor: remove obsolete translation commands for planets, resources, and star types
  app/Console/Commands/TranslatePlanets.php
  app/Console/Commands/TranslateResourceTags.php
  app/Console/Commands/TranslateStarTypes.php
Due: none

Fix inconsistent read_at formatting in markAsUnread API response
  app/Http/Controllers/Api/MessageController.php
  tests/Feature/Api/MessageApiTest.php
Due: API Controllers

fix: remove redundant selectFirstMessage calls in filter methods
  app/Livewire/Inbox.php
Due: Livewire Components

fix: remove unreachable dead code in markAsRead and markAsUnread methods
  app/Livewire/Inbox.php
Due: Livewire Components

docs: clarify why markAsRead/markAsUnread don't use withTrashed()
  app/Livewire/Inbox.php
Due: Livewire Components

fix: Change deleteMessage to use soft delete instead of force delete
  app/Http/Controllers/Api/MessageController.php
  app/Livewire/Inbox.php
  tests/Feature/Api/MessageApiTest.php
  tests/Feature/Livewire/InboxTest.php
Due: API Controllers, Livewire Components

refactor: standardize discovery message type handling and enhance view performance
  app/Console/Commands/GenerateTestMessages.php
  app/Listeners/SendSpecialDiscoveryMessage.php
  app/Providers/AppServiceProvider.php
  app/Services/MessageService.php
  resources/views/layouts/app.blade.php
  tests/Feature/Livewire/InboxTest.php
  tests/Unit/Console/Commands/GenerateTestMessagesCommandTest.php
  tests/Unit/Console/Commands/SendWelcomeMessagesToExistingUsersCommandTest.php
  tests/Unit/Listeners/SendSpecialDiscoveryMessageTest.php
  tests/Unit/Mail/NewMessageNotificationTest.php
  tests/Unit/Models/MessageTest.php
  tests/Unit/Services/MessageServiceTest.php
Due: Services, Events & Listeners

feat: add user activity events for profile, inbox, and dashboard access
  app/Events/AvatarChanged.php
  app/Events/DashboardAccessed.php
  app/Events/EmailChanged.php
  app/Events/EmailVerified.php
  app/Events/FailedLoginAttempt.php
  app/Events/FirstLogin.php
  app/Events/InboxAccessed.php
  app/Events/PasswordChanged.php
  app/Events/ProfileAccessed.php
  app/Events/SessionExpired.php
  app/Events/UserLoggedOut.php
  app/Http/Controllers/Api/UserController.php
  app/Livewire/Dashboard.php
  app/Livewire/Inbox.php
  app/Livewire/Profile.php
  app/Services/AuthService.php
  app/Services/EmailVerificationService.php
  app/Services/PasswordResetService.php
  docs/EVENTS.md
  docs/memory_bank/ARCHITECTURE.md
  tests/Feature/Api/UserControllerTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Livewire/DashboardTest.php
  tests/Feature/Livewire/InboxTest.php
  tests/Feature/Livewire/ProfileTest.php
  tests/Unit/Services/AuthServiceTest.php
  tests/Unit/Services/EmailVerificationServiceTest.php
Due: API Controllers, Livewire Components, Services, Events & Listeners

feat: Enhance Game Designer agent (Casey) with workflow integration and prompts
  AGENTS.md
  docs/agents/GAME-DESIGNER.md
  docs/prompts/balance-gameplay.md
  docs/prompts/design-game-mechanic.md
Due: none

fix: Fix failing tests for listeners and AuthService
  tests/Unit/Listeners/SendHomePlanetMessageTest.php
  tests/Unit/Listeners/SendPlanetDiscoveryMessageTest.php
  tests/Unit/Listeners/SendSpecialDiscoveryMessageTest.php
  tests/Unit/Listeners/SendWelcomeMessageTest.php
  tests/Unit/Services/AuthServiceTest.php
Due: none

docs: supprimer les dates placeholder 2025-01-XX
  docs/design-system/ACCESSIBILITY-AUDIT.md
  docs/design-system/ACCESSIBILITY-IMPROVEMENTS.md
  docs/design-system/DESIGN-SYSTEM.md
  docs/design-system/README.md
  docs/game-design/drafts/DRAFT-01-narrative-cyoa-system.md
  docs/game-design/drafts/DRAFT-02-management-system.md
  docs/game-design/drafts/DRAFT-03-mini-games-system.md
  docs/game-design/drafts/DRAFT-04-stellarpedia-system.md
  docs/game-design/drafts/DRAFT-05-onboarding-system.md
  docs/game-design/drafts/DRAFT-06-parallaxe-system.md
  docs/game-design/drafts/README.md
  docs/issues/closed/ISSUE-002-implement-remember-me.md
  docs/issues/closed/ISSUE-003-implement-password-reset.md
  docs/issues/closed/ISSUE-004-implement-email-verification.md
  docs/reports/SESSION-DESIGN-SYSTEM-STANDARDIZATION.md
  docs/reports/SESSION-SUMMARY.md
  docs/reviews/closed/DESIGN-REVIEW-004-email-verification.md
  docs/tasks/closed/TASK-002-implement-remember-me.md
  docs/tasks/closed/TASK-004-implement-email-verification.md
Due: none

chore: mise à jour de la documentation et des règles
  .cursor/rules/README.md
  .cursor/rules/code-standards.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/memory-bank.mdc
  .cursor/rules/prompts.mdc
  .cursor/rules/workflow.mdc
  GET_STARTED.md
  GET_STARTED_WORKFLOW.md
  README.md
  WORKFLOW.md
  database/seeders/DatabaseSeeder.php
  docs/design-system/components/COMPONENT-terminal-prompt.md
  docs/reviews/closed/VISUAL-REVIEW-002-remember-me.md
  docs/reviews/closed/VISUAL-REVIEW-003-password-reset-post.md
  docs/setup/minio-setup.md
  resources/views/components/screen-size-error.blade.php
  resources/views/design-system/components-emails.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
Due: none

docs(game-design): améliorer le draft d'onboarding DRAFT-05
  docs/game-design/drafts/DRAFT-05-onboarding-system.md
Due: none

docs: ajouter la documentation pour le système d'inbox
  docs/issues/closed/ISSUE-006-implement-inbox-system.md
Due: none

docs: enrichir ISSUE-005 avec détails du Game Design DRAFT-05
  docs/issues/ISSUE-005-implement-onboarding-mvp.md
Due: none

docs: ajouter la documentation pour le système de mini-jeux
  docs/issues/ISSUE-007-implement-minigame-base-system.md
Due: none

feat: Create development plan for minigame base system (ISSUE-007)
  docs/issues/ISSUE-007-implement-minigame-base-system.md
  docs/tasks/TASK-007-implement-minigame-base-system.md
Due: none

feat: Implement Scanning Minigame with UI and game mechanics
  resources/js/minigames/constants.js
  resources/js/minigames/init.js
  resources/js/minigames/managers/GameState.js
  resources/js/minigames/managers/InterferenceManager.js
  resources/js/minigames/managers/SignalManager.js
  resources/js/minigames/managers/UIManager.js
  resources/js/minigames/renderers/RadarRenderer.js
  resources/js/minigames/scanning.js
  resources/views/admin/layout.blade.php
  resources/views/admin/minigame-test.blade.php
  routes/admin.php
  vite.config.js
Due: none

docs: consolidation de la documentation du minijeu de scanning
  docs/game-design/drafts/DRAFT-06-scanning-minigame-features.md
  docs/game-design/drafts/README.md
  docs/game-design/mini-games-system.md
  docs/issues/ISSUE-007-implement-minigame-base-system.md
  docs/local-brainstorming-data/mini-games.md
  docs/refactoring/README.md
  docs/refactoring/scanning-minigame-technical.md
  docs/reviews/CODE-REVIEW-007-scanning-minigame.md
  docs/reviews/GAMEPLAY-REVIEW-scanning-minigame.md
Due: none

docs(game-design): améliorer le DRAFT-04 Stellarpedia avec détails d'intégration et UX
  docs/game-design/drafts/DRAFT-04-stellarpedia-system.md
Due: none
