Repository PiLep/space-xplorer: changes, and which Codecov flags are due for each by the changed paths.
All: API Controllers, Livewire Components, Services, Models, Events & Listeners

docs: Review architecturale TASK-008 (Wiki Public Stellarpedia)
  docs/issues/ISSUE-008-implement-public-wiki-stellarpedia.md
  docs/reviews/ARCHITECT-REVIEW-008-implement-public-wiki-stellarpedia.md
  docs/tasks/TASK-008-implement-public-wiki-stellarpedia.md
Due: none

docs: Ajout référence GitHub issue #16 pour ISSUE-008
  docs/issues/ISSUE-008-implement-public-wiki-stellarpedia.md
Due: none

docs(game-design): ajouter version MVP du Stellarpedia et mettre à jour la documentation
  docs/game-design/drafts/DRAFT-04-stellarpedia-system-MVP.md
  docs/game-design/drafts/DRAFT-04-stellarpedia-system.md
  docs/game-design/drafts/README.md
Due: none

fix: correct codex tests and implement missing features
  app/Livewire/CodexIndex.php
  resources/views/livewire/codex-index.blade.php
  resources/views/livewire/codex-planet.blade.php
  tests/Feature/Livewire/CodexIndexTest.php
  tests/Feature/Livewire/CodexPlanetTest.php
Due: Livewire Components

feat: Implement Universe Time System with Helpers and Service
  app/Helpers/universe_time.php
  app/Http/Controllers/Auth/PasswordResetController.php
  app/Livewire/Profile.php
  app/Models/User.php
  app/Services/UniverseTimeService.php
  app/View/Components/UniverseTimeStatus.php
  composer.json
  database/migrations/2025_11_15_000000_create_universe_time_config_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UniverseTimeConfigSeeder.php
  resources/views/components/livewire-layout.blade.php
  resources/views/components/universe-time-status.blade.php
  resources/views/design-system.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/profile.blade.php
  resources/views/welcome.blade.php
  tests/Unit/Helpers/UniverseTimeHelperTest.php
  tests/Unit/Services/UniverseTimeServiceTest.php
Due: Livewire Components, Services, Models

feat: Add Universe Map and Star System Seeder
  app/Console/Commands/SeedRealisticStarSystems.php
  app/Http/Controllers/Admin/MapController.php
  database/seeders/RealisticStarSystemsSeeder.php
  resources/views/admin/layout.blade.php
  resources/views/admin/map.blade.php
  routes/admin.php
Due: none

feat: Enhance Universe Map with New Features and UI Components
  resources/js/admin/universe-map.js
  resources/views/admin/layout.blade.php
  resources/views/admin/map.blade.php
  resources/views/components/admin/universe-map-controls.blade.php
  resources/views/components/admin/universe-map-legend.blade.php
  resources/views/components/admin/universe-map-scale-info.blade.php
  resources/views/components/admin/universe-map-system-info.blade.php
  vite.config.js
Due: none

feat: Enhance Universe Map Functionality and UI
  app/Http/Controllers/Admin/MapController.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RealisticStarSystemsSeeder.php
  resources/js/admin/universe-map.js
  resources/views/admin/map.blade.php
  resources/views/components/admin/universe-map-controls.blade.php
Due: none

feat: Add Comprehensive Documentation for Star Systems Map
  docs/STAR_SYSTEMS_MAP.md
Due: none

feat: Add Commands for Universe Management
  app/Console/Commands/CheckUniverseConsistency.php
  app/Console/Commands/GenerateUndiscoveredUniverse.php
  app/Console/Commands/RedistributeHomePlanets.php
Due: none

fix: Update logo component styles and route definitions
  resources/views/components/logo.blade.php
  routes/admin.php
Due: none

feat: Implement Scheduled Tasks Management System
  app/Http/Controllers/Admin/ScheduledTaskController.php
  app/Models/ScheduledTask.php
  database/migrations/2025_11_17_123945_create_scheduled_tasks_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ScheduledTaskSeeder.php
  resources/views/admin/layout.blade.php
  resources/views/admin/scheduled-tasks/index.blade.php
  routes/admin.php
  routes/console.php
  tests/Feature/Admin/ScheduledTaskControllerTest.php
Due: Models

feat: Enhance Universe Management and UI Components
  app/Console/Commands/GenerateUndiscoveredUniverse.php
  app/Console/Commands/MigratePlanetsToCoordinates.php
  app/Console/Commands/RedistributeHomePlanets.php
  app/Console/Commands/SeedRealisticStarSystems.php
  app/Events/UserDeleting.php
  app/Http/Controllers/Admin/MapController.php
  database/seeders/RealisticStarSystemsSeeder.php
  docs/memory_bank/ARCHITECTURE.md
  resources/js/admin/map-base-classes.js
  resources/js/admin/map-constants.js
  resources/js/admin/map-utils.js
  resources/js/admin/system-map.js
  resources/js/admin/universe-map.js
  resources/views/admin/layout.blade.php
  resources/views/admin/map.blade.php
  resources/views/admin/system-map.blade.php
  resources/views/admin/systems/index.blade.php
  routes/admin.php
  tests/Feature/Admin/MapControllerTest.php
  tests/Unit/Console/Commands/CacheResourceUrlsTest.php
  tests/Unit/Console/Commands/CheckUniverseConsistencyTest.php
  tests/Unit/Console/Commands/GenerateUndiscoveredUniverseTest.php
  tests/Unit/Events/SessionExpiredTest.php
  tests/Unit/Events/UserDeletingTest.php
  tests/Unit/Models/PlanetPropertyTest.php
  tests/Unit/Models/StarSystemTest.php
  tests/Unit/Services/ExplorationServiceTest.php
  vite.config.js
Due: Events & Listeners

feat: Introduce TestEvent and Enhance EmailService Functionality
  app/Events/TestEvent.php
  app/Listeners/LogEvent.php
  app/Services/EmailService.php
  tests/Unit/Listeners/LogEventTest.php
  tests/Unit/Models/ScheduledTaskTest.php
  tests/Unit/Observers/ResourceObserverTest.php
  tests/Unit/Services/EmailServiceTest.php
Due: Services, Events & Listeners

test: Refactor ResourceObserverTest for Improved Isolation and Clarity
  tests/Unit/Observers/ResourceObserverTest.php
Due: none

fix: Update ResourceObserver and Tests for Default Disk Handling
  app/Observers/ResourceObserver.php
  tests/Unit/Observers/ResourceObserverTest.php
Due: none

chore: Update composer.lock and add workspace configuration
  composer.lock
  stellar-game.code-workspace
Due: none

chore: Update CI workflow to enhance test result reporting
  .github/workflows/ci.yml
Due: none

style: Improve code formatting in admin routes
  routes/admin.php
Due: none

chore: Update workspace configuration for PHP development
  stellar-game.code-workspace
Due: none

feat: Enhance Codex functionality and introduce Wiki compatibility
  app/Http/Controllers/Api/CodexController.php
  app/Listeners/CreateWikiEntryOnPlanetCreated.php
  app/Listeners/CreateWikiEntryOnPlanetExplored.php
  app/Livewire/CodexContributors.php
  app/Livewire/CodexHallOfFame.php
  app/Livewire/CodexIndex.php
  app/Livewire/CodexPlanet.php
  app/Livewire/CodexPlanets.php
  app/Livewire/CodexStarSystems.php
  app/Models/CodexEntry.php
  app/Models/WikiEntry.php
  app/Services/AIDescriptionService.php
  app/Services/CodexService.php
  app/Services/WikiService.php
  config/codex.php
  database/factories/CodexEntryFactory.php
  database/factories/PlanetFactory.php
  database/factories/WikiEntryFactory.php
  tests/Feature/Api/WikiControllerTest.php
  tests/Feature/Listeners/CreateWikiEntryOnPlanetCreatedTest.php
  tests/Feature/Livewire/CodexIndexTest.php
  tests/Feature/Livewire/CodexPlanetTest.php
  tests/Unit/Services/AIDescriptionServiceTest.php
  tests/Unit/Services/WikiServiceTest.php
Due: API Controllers, Livewire Components, Services, Models, Events & Listeners

docs: Review architecturale TASK-009 - Système de notifications in-app
  docs/issues/ISSUE-009-implement-in-app-notifications.md
  docs/reviews/ARCHITECT-REVIEW-009-implement-in-app-notifications.md
  docs/tasks/TASK-009-implement-in-app-notifications.md
Due: none

feat: implement in-app notifications system (ISSUE-009)
  .cursor/rules/code-standards.mdc
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  app/Listeners/CreateNotificationOnImportantMessage.php
  app/Livewire/NotificationBadge.php
  app/Livewire/Notifications.php
  app/Models/Notification.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  app/Services/NotificationService.php
  composer.json
  config/notifications.php
  database/factories/NotificationFactory.php
  database/migrations/2025_12_28_133840_create_notifications_table.php
  database/seeders/NotificationSeeder.php
  docs/agents/FULLSTACK-DEV.md
  docs/issues/ISSUE-009-implement-in-app-notifications.md
  docs/memory_bank/ARCHITECTURE.md
  docs/prompts/implement-task.md
  docs/reviews/CODE-REVIEW-009-implement-in-app-notifications.md
  docs/reviews/FUNCTIONAL-REVIEW-009-implement-in-app-notifications.md
  docs/rules/TECHNICAL_RULES.md
  docs/tasks/TASK-009-implement-in-app-notifications.md
  phpunit.xml
  resources/views/layouts/app.blade.php
  resources/views/livewire/notification-badge.blade.php
  resources/views/livewire/notifications.blade.php
  routes/web.php
  tests/Feature/Livewire/NotificationBadgeTest.php
  tests/Feature/Livewire/NotificationsTest.php
  tests/Pest.php
  tests/Unit/Listeners/CreateNotificationOnImportantMessageTest.php
  tests/Unit/Models/NotificationTest.php
  tests/Unit/Services/NotificationServiceTest.php
Due: Livewire Components, Services, Models, Events & Listeners

docs: update tracking for ISSUE-009 PR creation
  docs/issues/ISSUE-009-implement-in-app-notifications.md
  docs/tasks/TASK-009-implement-in-app-notifications.md
Due: none

dev: add CreateTestNotifications command for local development
  app/Console/Commands/CreateTestNotifications.php
Due: none

docs: add critical Pint verification step before commits
  .cursor/rules/code-standards.mdc
  docs/agents/LEAD-DEV.md
  docs/prompts/create-pr.md
Due: none

style: fix formatting in CreateTestNotifications command
  app/Console/Commands/CreateTestNotifications.php
Due: none

docs: update tracking for ISSUE-009 after merge
  docs/issues/closed/ISSUE-009-implement-in-app-notifications.md
  docs/tasks/closed/TASK-009-implement-in-app-notifications.md
Due: none

docs: finalize ISSUE-009 tracking after merge
  docs/issues/ISSUE-009-implement-in-app-notifications.md
  docs/reviews/closed/ARCHITECT-REVIEW-009-implement-in-app-notifications.md
  docs/reviews/closed/CODE-REVIEW-009-implement-in-app-notifications.md
  docs/reviews/closed/FUNCTIONAL-REVIEW-009-implement-in-app-notifications.md
  docs/tasks/TASK-009-implement-in-app-notifications.md
Due: none

feat(codex): apply final adjustments and improve consistency
  app/Console/Commands/GenerateTestCodexData.php
  app/Http/Requests/ContributeToCodexRequest.php
  app/Livewire/CodexPlanet.php
  app/Livewire/ContributeToCodex.php
  config/codex.php
  docs/issues/ISSUE-008-implement-public-wiki-stellarpedia.md
  docs/reviews/CODE-REVIEW-008-implement-public-wiki-stellarpedia.md
  docs/reviews/FUNCTIONAL-REVIEW-008-implement-public-wiki-stellarpedia.md
  docs/tasks/TASK-008-implement-public-wiki-stellarpedia.md
  resources/views/components/codex-sidebar.blade.php
  resources/views/livewire/codex-contributor.blade.php
  resources/views/livewire/codex-contributors.blade.php
  resources/views/livewire/codex-hall-of-fame.blade.php
  resources/views/livewire/codex-index.blade.php
  resources/views/livewire/codex-planet.blade.php
  resources/views/livewire/codex-planets.blade.php
  resources/views/livewire/codex-star-system.blade.php
  resources/views/livewire/codex-star-systems.blade.php
  resources/views/livewire/contribute-to-codex.blade.php
Due: Livewire Components

docs: update tracking for ISSUE-008 - PR #23 created
  docs/issues/ISSUE-008-implement-public-wiki-stellarpedia.md
  docs/tasks/TASK-008-implement-public-wiki-stellarpedia.md
Due: none

fix: correct test failures in WikiControllerTest, CodexPlanetTest and CodexIndexTest
  resources/views/livewire/codex-index.blade.php
  resources/views/livewire/codex-planet.blade.php
  tests/Feature/Api/WikiControllerTest.php
Due: none

docs: clean up ISSUE-009 and update references
  docs/issues/ISSUE-009-implement-in-app-notifications.md
  docs/issues/ISSUE-010-implement-inventory-system.md
  docs/issues/ISSUE-011-implement-ship-system-mvp.md
  docs/issues/ISSUE-012-implement-ship-interface.md
Due: none

docs: Mise à jour issues inventaire et vaisseau - objets activables
  docs/issues/ISSUE-010-implement-inventory-system.md
  docs/issues/ISSUE-011-implement-ship-system-mvp.md
  docs/issues/ISSUE-013-progression-onboarding-vaisseau-orbite.md
Due: none

Path conditions:
  API Controllers: any of: app/Http/Controllers/Api/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Livewire Components: any of: app/Livewire/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Services: any of: app/Services/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Models: any of: app/Models/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
  Events & Listeners: any of: app/Events/**, app/Listeners/**, but not: tests/, database/, vendor/, node_modules/, public/, storage/, bootstrap/cache/, *.md, .github/
