Repository PiLep/space-xplorer: changes, and which Codecov flags are due for each by the changed paths.
All: API Controllers, Livewire Components, Services, Models, Events & Listeners

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 0%
        informational: false
    changes: false

ignore:
  - "tests/"
  - "database/"
  - "vendor/"
  - "node_modules/"
  - "public/"
  - "storage/"
  - "bootstrap/cache/"
  - "*.md"
  - ".github/"

comment:
  layout: "reach,diff,flags,components,tree,reach"
  behavior: default
  require_changes: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api_controllers
      name: API Controllers
      paths:
        - "app/Http/Controllers/Api/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: livewire_components
      name: Livewire Components
      paths:
        - "app/Livewire/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: services
      name: Services
      paths:
        - "app/Services/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: auto
    - component_id: models
      name: Models
      paths:
        - "app/Models/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%
    - component_id: events_listeners
      name: Events & Listeners
      paths:
        - "app/Events/**"
        - "app/Listeners/**"
      statuses:
        - type: project
          target: auto
          threshold: 1%

feat: improve terminal animation handling during authentication
  app/Http/Controllers/Api/AuthController.php
  app/Livewire/Dashboard.php
  app/Livewire/LoginTerminal.php
  app/Livewire/Register.php
  app/Services/AuthService.php
Due: API Controllers, Livewire Components, Services

feat: enhance registration process with terminal animation and validation
  app/Livewire/Register.php
  resources/css/app.css
  resources/js/landing.js
  resources/views/landing.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/forgot-password.blade.php
  resources/views/livewire/login-terminal.blade.php
  resources/views/livewire/register.blade.php
Due: Livewire Components

docs: add GitHub issue #10 and branch info to ISSUE-004
  docs/issues/ISSUE-004-implement-email-verification.md
Due: none

feat: implement email verification with 6-digit code
  app/Exceptions/EmailVerificationException.php
  app/Livewire/LoginTerminal.php
  app/Livewire/Register.php
  app/Livewire/VerifyEmail.php
  app/Mail/EmailVerificationNotification.php
  app/Models/User.php
  app/Services/AuthService.php
  app/Services/EmailVerificationService.php
  database/migrations/2025_11_11_175153_add_email_verification_fields_to_users_table.php
  docs/issues/ISSUE-004-implement-email-verification.md
  docs/memory_bank/ARCHITECTURE.md
  docs/reviews/CODE-REVIEW-004-email-verification.md
  docs/reviews/DESIGN-REVIEW-004-email-verification.md
  docs/tasks/TASK-004-implement-email-verification.md
  resources/views/components/terminal-message.blade.php
  resources/views/emails/auth/verify-email-text.blade.php
  resources/views/emails/auth/verify-email.blade.php
  resources/views/livewire/verify-email.blade.php
  routes/web.php
  tests/Feature/EmailVerificationTest.php
  tests/Feature/Livewire/RegisterTest.php
  tests/Feature/Livewire/VerifyEmailTest.php
  tests/Unit/Services/EmailVerificationServiceTest.php
Due: Livewire Components, Services, Models

docs: update ISSUE-004 and TASK-004 with PR #11 creation
  docs/issues/ISSUE-004-implement-email-verification.md
  docs/tasks/TASK-004-implement-email-verification.md
Due: none

docs: add functional review for email verification (ISSUE-004)
  docs/issues/ISSUE-004-implement-email-verification.md
  docs/reviews/FUNCTIONAL-REVIEW-004-email-verification.md
  docs/tasks/TASK-004-implement-email-verification.md
Due: none

docs: update ISSUE-004 with merge completion status
  docs/issues/ISSUE-004-implement-email-verification.md
Due: none

docs: move ISSUE-004 to closed folder after merge
  docs/issues/closed/ISSUE-004-implement-email-verification.md
Due: none

docs: add reviews for email verification implementation
  docs/reviews/closed/CODE-REVIEW-004-email-verification.md
  docs/reviews/closed/DESIGN-REVIEW-004-email-verification.md
  docs/reviews/closed/FUNCTIONAL-REVIEW-004-email-verification.md
  docs/tasks/closed/TASK-004-implement-email-verification.md
Due: none

feat: update registration flow to include terms acceptance and redirect to email verification
  tests/Browser/RegistrationFlow.spec.js
  tests/Feature/E2E/RegistrationFlowTest.php
  tests/Feature/Livewire/RegisterTest.php
Due: none

chore: update Playwright test command and CI workflow
  .github/workflows/ci.yml
  package.json
Due: none

docs: remove obsolete email verification issue document
  docs/issues/ISSUE-004-implement-email-verification.md
Due: none

docs: add elaborate issue prompt and update related documentation
  AGENTS.md
  PROMPTS_GUIDE.md
  docs/agents/PRODUCT.md
  docs/issues/draft/README.md
  docs/prompts/elaborate-issue.md
Due: none

docs: add onboarding MVP Phase 1 issue documentation
  docs/issues/ISSUE-005-implement-onboarding-mvp.md
Due: none

feat: enhance email verification process with security clearance terminology
  app/Livewire/VerifyEmail.php
  resources/views/components/terminal-message.blade.php
  resources/views/livewire/verify-email.blade.php
Due: Livewire Components

docs: add empty lines for improved readability in various documentation and view files
  docs/analysis/design-system-audit-admin-pages.md
  docs/analysis/test-performance-and-coverage-analysis.md
  docs/design-system/components/COMPONENT-button-group.md
  docs/design-system/components/COMPONENT-description-list.md
  docs/design-system/components/COMPONENT-empty-state.md
  docs/design-system/components/COMPONENT-filter-card.md
  docs/design-system/components/COMPONENT-stat-card.md
  resources/views/admin/resources/show.blade.php
  resources/views/components/button-group.blade.php
  resources/views/components/description-item.blade.php
  resources/views/components/description-list.blade.php
  resources/views/components/filter-card.blade.php
  resources/views/components/form-select.blade.php
  resources/views/components/terminal-boot.blade.php
  resources/views/emails/auth/verify-email-text.blade.php
  resources/views/emails/auth/verify-email.blade.php
  tests/Feature/Livewire/VerifyEmailTest.php
Due: none

feat: add landing.js to Vite configuration input
  vite.config.js
Due: none

chore: update .editorconfig for PHP files
  .editorconfig
Due: none

refactor: streamline route definitions and enhance fallback handling
  routes/admin.php
  routes/api.php
  routes/web.php
Due: none

fix: ensure MYSQL_EXTRA_OPTIONS defaults to an empty string in Docker Compose configuration
  compose.yaml
Due: none

feat: add performance indexes to optimize database queries
  database/migrations/2025_11_12_180358_add_performance_indexes_to_database.php
  docs/analysis/database-performance-optimization.md
Due: none

feat: implement resource URL caching mechanism
  app/Console/Commands/CacheResourceUrls.php
  app/Models/Resource.php
  app/Observers/ResourceObserver.php
  app/Providers/AppServiceProvider.php
  database/migrations/2025_11_12_180617_add_file_url_cached_to_resources_table.php
Due: Models

refactor: update Vite configuration for improved build handling
  vite.config.js
Due: none

feat: implement admin access from web guard for super admins
  app/Http/Controllers/Admin/AuthController.php
  app/Livewire/Profile.php
  app/Livewire/VerifyEmail.php
  app/Models/User.php
  app/Services/AdminAuthService.php
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/show.blade.php
  resources/views/components/alert.blade.php
  resources/views/components/form-input.blade.php
  resources/views/components/livewire-layout.blade.php
  resources/views/components/navigation.blade.php
  resources/views/components/terminal-prompt-text.blade.php
  resources/views/components/terminal-prompt.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/dashboard.blade.php
  resources/views/livewire/profile.blade.php
  routes/admin.php
Due: Livewire Components, Services, Models

chore: remove outdated landing page images and update package-lock.json
  landing-page-improved.png
  landing-page-screenshot.png
  package-lock.json
Due: none

chore: update composer.lock and refactor error messages in Livewire components
  app/Livewire/Profile.php
  app/Livewire/VerifyEmail.php
  composer.lock
Due: Livewire Components

chore: add final newlines to files per .editorconfig
  app/Exceptions/EmailVerificationException.php
  docs/analysis/design-system-audit-admin-pages.md
  docs/analysis/test-performance-and-coverage-analysis.md
  docs/design-system/components/COMPONENT-button-group.md
  docs/design-system/components/COMPONENT-description-list.md
  docs/design-system/components/COMPONENT-empty-state.md
  docs/design-system/components/COMPONENT-filter-card.md
  docs/design-system/components/COMPONENT-stat-card.md
  resources/views/admin/resources/show.blade.php
  resources/views/components/button-group.blade.php
  resources/views/components/description-item.blade.php
  resources/views/components/description-list.blade.php
  resources/views/components/filter-card.blade.php
  resources/views/components/form-select.blade.php
  resources/views/components/terminal-boot.blade.php
  resources/views/emails/auth/verify-email-text.blade.php
  resources/views/emails/auth/verify-email.blade.php
  tests/Browser/PlaywrightHelper.php
  tests/Browser/RegistrationE2ETest.php
  tests/Unit/Services/ResourceGenerationServiceTest.php
Due: none

chore: configure Pint to respect .editorconfig final newline rule
  pint.json
Due: none

chore: add final newlines to multiple files for consistency
  app/Exceptions/EmailVerificationException.php
  docs/analysis/design-system-audit-admin-pages.md
  docs/analysis/test-performance-and-coverage-analysis.md
  docs/design-system/components/COMPONENT-button-group.md
  docs/design-system/components/COMPONENT-description-list.md
  docs/design-system/components/COMPONENT-empty-state.md
  docs/design-system/components/COMPONENT-filter-card.md
  docs/design-system/components/COMPONENT-stat-card.md
  resources/views/admin/resources/show.blade.php
  resources/views/components/description-item.blade.php
  resources/views/components/description-list.blade.php
  resources/views/components/filter-card.blade.php
  resources/views/components/form-select.blade.php
  resources/views/components/terminal-boot.blade.php
  resources/views/emails/auth/verify-email-text.blade.php
  resources/views/emails/auth/verify-email.blade.php
  tests/Browser/PlaywrightHelper.php
  tests/Browser/RegistrationE2ETest.php
  tests/Unit/Services/ResourceGenerationServiceTest.php
Due: none

feat: implement user deletion functionality with event handling
  app/Events/UserDeleted.php
  app/Events/UserDeleting.php
  app/Listeners/CleanupUserData.php
  app/Livewire/Admin/UserDeleteButton.php
  app/Observers/UserObserver.php
  app/Providers/AppServiceProvider.php
  app/Providers/EventServiceProvider.php
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/show.blade.php
  resources/views/livewire/admin/user-delete-button.blade.php
  resources/views/livewire/dashboard.blade.php
  routes/admin.php
  tests/Feature/Livewire/Admin/UserDeleteButtonTest.php
  tests/Unit/Events/UserDeletedTest.php
  tests/Unit/Listeners/CleanupUserDataTest.php
  tests/Unit/Observers/UserObserverTest.php
Due: Livewire Components, Events & Listeners
